#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body{
  background: url("https://img.freepik.com/free-photo/supermarket-banner-concept-with-ingredients_23-2149421158.jpg?t=st=1720288338~exp=1720291938~hmac=e6c98c3e116acf219932429ddb5dd6153c59e83d0362fac174c940cae0959464&w=1380") no-repeat center /cover ;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a{
  color: inherit;
}

